# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/
next-env.d.ts
tsconfig.tsbuildinfo

# Environment Variables
.env
.env*.local

# Vercel
.vercel

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local

# Playwright MCP
/.playwright-mcp/
